%h1= @amoeba.name
%p #{@amoeba.name} is a talented #{@amoeba.generation_number}-generation #{Talent.find_by_id(@amoeba.talent_id).name}.
- if @amoeba.acts.any?
  %p #{@amoeba.name} performs in the following acts:
  %ul
    - @amoeba.acts.each do |act|
      %li= link_to act.name, act
%p= link_to 'Split Amoeba', "/amoebas/#{@amoeba.id}/split", method: :post, confirm: "Are you sure?"
%p= link_to 'Edit Amoeba', edit_amoeba_path
%p= link_to 'Back to Circus', root_path